* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
*::-webkit-scrollbar { display: none }
html { font-size: 62.5% }
body {
    margin: 0;
    font-size: 1.5em;
    line-height: 1;
    font-weight: 400;
    font-family: sans-serif;
}

nav {
    position: relative;
    width: 100%;
    height: 3rem;
    padding: 0.8rem 1.6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
h1 {
    position: absolute;
    top: 1rem;
    left: 1.2rem;
    padding: 1.5rem 1.2rem 0.8rem 1.2rem;
    background: linear-gradient(#F2F2F2 30%,#F2F2F220);
    font-family: 'League Spartan';
    font-size: 4rem;
    text-align: center;
    box-shadow: 0.4rem 0.4rem 0.5rem #888888;
    z-index: 10;
}
@media (min-width: 550px) { h1 { font-size: 5.0rem } }
a { text-decoration: none }
span { font-size: 100% }

.logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.logo .sm { font-family: 'Broken Heart' }
.logo .kou { 
    margin: 0 0.6rem 0 -0.2rem;
    font-family: 'Zhi Mang Xing';
    font-size: calc(1.8rem + 0.32vw);
}

.icons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    z-index: 0;
}
.icons img {
    position: relative;
    width: 100%;
    height: 9rem;
}
div.icons::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #141414;
    opacity: 0.6;
    content: '';
    z-index: 3;
}

section {
    margin-top: 12rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    position: relative;
    width: 100%;
    max-width: 42rem;
    margin: 1rem;
}
figure,
figure img,
figure figcaption { width: 100% }
figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem 0.8rem;
    color: #E0E0E0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 1s;
}
figure img:hover + figcaption { opacity: 1 }